################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Projeto-AP_Grupo/FileContentIndex
/.vs/Projeto-AP_Grupo
/.vs
